.actualitePage{
    @apply md:mt-[10vh] mt-[90px] flex flex-col justify-center items-center;
    .headerTitle{
        @apply flex flex-col justify-center items-center mt-[50px] mb-10;
        h1{
            @apply uppercase text-2xl md:text-4xl;
            letter-spacing: 2px;
            font-family: 'Montserrat';
        }
        .separateur{
            @apply w-64 bg-teal-800 h-[2px] mt-4;
        }
    }
    .archiveArticles{
        @apply flex flex-row flex-wrap gap-5 w-full px-10 max-w-7xl justify-center md:justify-start items-center;
        .articleCard{
            @apply cursor-pointer relative flex flex-col w-full md:w-[32%] h-[350px];
            img{
                @apply absolute w-full h-full object-cover object-bottom;
            }
            .articleContent{
                @apply absolute z-10 flex flex-col uppercase gap-4 bottom-0 px-5 py-5 bg-teal-800 text-white;
                font-family: 'Montserrat';  
                h1{
                    @apply text-base font-medium;
                }
                span{
                    @apply text-xs;
                    word-spacing: 5px;
                }
            }
        }
    }
 }