@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
.footerSection{
@apply flex flex-col justify-center items-center w-screen bg-white;

    .textTop{
        @apply flex flex-col justify-center items-center text-center uppercase py-10;
        color: var(--textColorGreen);
        h1{
            @apply text-3xl md:text-5xl;
            line-height: 1.2;
            font-family: var(--titleFont);
            letter-spacing: 3px;
        }
        .separateur{
            @apply w-52 h-[2px] my-5;
            background-color: var(--textColorGreen);
        }
        .cards{
            @apply flex flex-col md:flex-row justify-center items-stretch flex-wrap my-5 w-fit;
            box-shadow: 0px 0px 10px 1px var(--textColorGreen);
            .card{
                @apply h-full flex flex-col justify-center items-center border-2 py-5 px-16;
                h3{
                    @apply mt-5;
                    letter-spacing: 3px;
                    color: var(--textColorGreen);
                    font-family: var(--titleFont);
                }
                img{
                    @apply w-20 h-20;
                }
            }
        }
    }
    .imgFull{
        @apply w-screen h-auto;
        img{
            @apply w-screen h-auto;
        }
    }

    .footerInfo{
        @apply flex flex-col md:flex-row w-screen justify-center text-white items-center pl-5 pr-3 py-16;
        font-family: 'Montserrat';
        background: var(--textColorGreen);
        .separateurInfo{
            @apply md:w-full w-3/4 h-[1px] bg-white mt-3 mb-3;
        }
        h3{
            @apply text-xl
        }
        a{
            @apply text-lg;
        }
    }
    .copyrightFooter{
        @apply w-screen flex flex-col justify-center items-center pt-10 pb-10 md:pb-5 text-white text-center;
        background: var(--textColorGreen);
        font-family: 'Montserrat';
        .copySeparateur{
            @apply md:w-1/2 w-3/4 h-[1px] bg-white mt-3 mb-3;
        }
    }





}