
.modelSection{
    @apply relative z-40 h-[650vh] w-screen;
}
.videoBack{
    @apply fixed z-0 top-0 left-0 w-screen h-screen object-cover;
    video{
        @apply w-screen h-screen object-cover;
    } 
}
.logoBack{
    @apply absolute z-10 top-0 flex flex-col w-[80%] md:w-full md:px-20 justify-center items-center h-screen object-cover; 
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    img{
        @apply w-full;
    }
}
.textDiv{
    @apply fixed z-40;
    font-family: 'Montserrat';
    mix-blend-mode: normal;
    h1{
        @apply text-8xl uppercase text-green-50 font-bold;
        letter-spacing: 10px;
    }
    p{
        @apply text-xl;
    }
}
