@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400;500;600;700;800;900&display=swap");

.modelSection{
    @apply relative z-[60] h-[650vh] w-screen;
}
.videoBack{
    @apply fixed z-[60] top-0 left-0 w-screen h-dvh object-cover;
    video{
        @apply w-screen h-dvh object-cover;
    } 
    img{
        @apply w-screen h-dvh object-cover;
    }
}
.logoBack{
    @apply absolute z-[70] top-0 flex flex-col w-[80%] md:w-full md:px-20 justify-center items-center h-screen object-cover; 
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    img{
        @apply w-full;
    }
}
.textDiv{
    @apply fixed z-[70];
    font-family: 'Montserrat';
    mix-blend-mode: normal;
    h1{
        @apply text-4xl sm:text-4xl md:text-7xl uppercase font-bold;
        letter-spacing: 10px;
    }
    .voirPlusBTN{
        @apply uppercase ml-0 mt-3 py-2 px-10 text-lg border-4 border-white; 
        transition: 0.2s all ease-in-out;
    }
    .voirPlusBTN:hover{
        @apply uppercase ml-0 mt-3 py-2 px-10 text-lg border-4 bg-white text-teal-900 border-white; 
    }
    p{
        letter-spacing: 1px;
        line-height: 1.5;
    }
    .cardHome{
        @apply h-full w-full flex scale-95 flex-col border-none justify-center items-center;
        transition: 0.2s all ease-in-out;
        a{
            @apply scale-95;
        }
        a:hover{
            @apply scale-100;
        }
    }
    .cardHome:hover{
        @apply scale-100;
    }
}
