
.modelSection{
    @apply relative z-[60] h-[650vh] w-screen;
}
.videoBack{
    @apply fixed z-[60] top-0 left-0 w-screen h-screen object-cover;
    video{
        @apply w-screen h-screen object-cover;
    } 
}
.logoBack{
    @apply absolute z-[70] top-0 flex flex-col w-[80%] md:w-full md:px-20 justify-center items-center h-screen object-cover; 
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    img{
        @apply w-full;
    }
}
.textDiv{
    @apply fixed z-[70];
    font-family: 'Montserrat';
    mix-blend-mode: normal;
    h1{
        @apply text-2xl sm:text-4xl md:text-7xl uppercase font-bold;
        letter-spacing: 10px;
    }
    button{
        @apply uppercase mr-3 ml-0 mt-3 py-2 px-10 text-lg border-2 border-teal-900; 
    }
    p{
        @apply text-xl;
    }
    .cardHome{
        @apply h-full w-[33.3%] scale-95 flex flex-col border-2 justify-center items-center py-2 md:px-5 px-3;
        transition: 0.2s all ease-in-out;
        background: var(--textColorGreen);
        border-color: var(--textColorGreen);
        h1{
            @apply md:text-3xl text-sm uppercase;
            color: var(--textColorGold);
            letter-spacing: 5px;
        }
    }
    .cardHome:hover{
        @apply bg-transparent scale-100 text-teal-700;
        h1{
            color: var(--textColorGreen);
        }
    }
}
