.loadingSection{
    @apply fixed top-0 left-0 flex flex-col justify-center items-center w-screen h-full;
    background: #0C4749;
    div{
        @apply flex flex-col justify-center items-center;
        video{
            @apply w-[200px] h-auto 
        }
        img{
            @apply w-[150px];
        }
        h1{
            @apply uppercase text-2xl text-white ;
            font-family: 'Montserrat';
            letter-spacing: 5px;
        }
    }
}